<a href="https://colab.research.google.com/github/Jasobant10/Data-Science-with-Python/blob/main/FoundationPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER-1 (MODULES, COMMENTS & PIP)

## First Python Program
Execution file Extension is (.Py file). ex-  hello.py

In [ ]:
print("hello world")
print(" hello python ")

hello world
 hello python

## Module and PIP
- flask,pandas & pyjokes are modules which are code library.
- these python modules are installed through PIP (package manager).
- import the module to use the package.

In [ ]:
pip install flask

Requirement already satisfied: flask in c:\users\jasob\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\jasob\anaconda3\lib\site-packages (from flask) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\jasob\anaconda3\lib\site-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\jasob\anaconda3\lib\site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\jasob\anaconda3\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\jasob\anaconda3\lib\site-packages (from flask) (1.6.2)
Requirement already satisfied: colorama in c:\users\jasob\anaconda3\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jasob\anaconda3\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\jasob\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jasob\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jasob\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jasob\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jasob\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jasob\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install pyjokes

Collecting pyjokes
  Downloading pyjokes-0.8.3-py3-none-any.whl.metadata (3.4 kB)
Downloading pyjokes-0.8.3-py3-none-any.whl (47 kB)
   ---------------------------------------- 0.0/47.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/47.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/47.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/47.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/47.6 kB ? eta -:--:--
   ----------------- ---------------------- 20.5/47.6 kB ? eta -:--:--
   ----------------- ---------------------- 20.5/47.6 kB ? eta -:--:--
   ----------------- ---------------------- 20.5/47.6 kB ? eta -:--:--
   ---------------------------------------- 47.6/47.6 kB 298.6 kB/s eta 0:00:00
Installing collected packages: pyjokes
Successfully installed pyjokes-0.8.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pyjokes

print("Printing jokes...")
joke = pyjokes.get_joke()
print(joke)

Printing jokes...
All programmers are playwrights, and all computers are lousy actors.

## Comments
used to make something which is not executed or ignored by program

#single line comment

""" multiline comment """

## Chapter-1 Practice

1. Write a program to print Twinkle twinkle little star poem in python

In [ ]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the trav'ller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often thro' my curtains peep,
For you never shut your eye,
Till the sun is in the sky.

'Tis your bright and tiny spark,
Lights the trav'ller in the dark:
Tho' I know not what you are,
Twinkle, twinkle, little star.''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the trav'ller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often thro' my curtains peep,
For you never shut your eye,
Till the sun is in the sky.

'Tis your bright and tiny spark,
Lights the trav'ller in the dark:
Tho' I know not what you are,
Twinkle, twinkle, little star.

2. Install an external module and use it to perform an operation of your interest.

In [ ]:
pip install pyttsx3

Collecting pyttsx3
  Downloading pyttsx3-2.98-py3-none-any.whl.metadata (3.8 kB)
Collecting comtypes (from pyttsx3)
  Downloading comtypes-1.4.7-py3-none-any.whl.metadata (6.5 kB)
Collecting pypiwin32 (from pyttsx3)
  Downloading pypiwin32-223-py3-none-any.whl.metadata (236 bytes)
Requirement already satisfied: pywin32 in c:\users\jasob\anaconda3\lib\site-packages (from pyttsx3) (305.1)
Downloading pyttsx3-2.98-py3-none-any.whl (34 kB)
Downloading comtypes-1.4.7-py3-none-any.whl (226 kB)
   ---------------------------------------- 0.0/226.8 kB ? eta -:--:--
   - -------------------------------------- 10.2/226.8 kB ? eta -:--:--
   - -------------------------------------- 10.2/226.8 kB ? eta -:--:--
   - -------------------------------------- 10.2/226.8 kB ? eta -:--:--
   ----- --------------------------------- 30.7/226.8 kB 145.2 kB/s eta 0:00:02
   ----- --------------------------------- 30.7/226.8 kB 145.2 kB/s eta 0:00:02
   ------- ------------------------------- 41.0/226.8 kB 131.3 kB/s eta 0:00:02
   ------- ------------------------------- 41.0/226.8 kB 131.3 kB/s eta 0:00:02
   ------- ------------------------------- 41.0/226.8 kB 131.3 kB/s eta 0:00:02
   ---------- ---------------------------- 61.4/226.8 kB 136.5 kB/s eta 0:00:02
   ---------- ---------------------------- 61.4/226.8 kB 136.5 kB/s eta 0:00:02
   ---------- ---------------------------- 61.4/226.8 kB 136.5 kB/s eta 0:00:02
   ---------- ---------------------------- 61.4/226.8 kB 136.5 kB/s eta 0:00:02
   ---------- ---------------------------- 61.4/226.8 kB 136.5 kB/s eta 0:00:02
   ---------- ---------------------------- 61.4/226.8 kB 136.5 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   -------------- ------------------------ 81.9/226.8 kB 111.8 kB/s eta 0:00:02
   ---------------- ----------------------- 92.2/226.8 kB 70.9 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------- ------------------- 112.6/226.8 kB 87.4 kB/s eta 0:00:02
   ------------------------ -------------- 143.4/226.8 kB 79.6 kB/s eta 0:00:02
   ------------------------ -------------- 143.4/226.8 kB 79.6 kB/s eta 0:00:02
   ------------------------ -------------- 143.4/226.8 kB 79.6 kB/s eta 0:00:02
   ------------------------ -------------- 143.4/226.8 kB 79.6 kB/s eta 0:00:02
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ---------------------------- ---------- 163.8/226.8 kB 84.8 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   ----------------------------- --------- 174.1/226.8 kB 74.9 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   --------------------------------- ----- 194.6/226.8 kB 70.6 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   ----------------------------------- --- 204.8/226.8 kB 60.4 kB/s eta 0:00:01
   --------------------------------------- 226.8/226.8 kB 51.7 kB/s eta 0:00:00
Downloading pypiwin32-223-py3-none-any.whl (1.7 kB)
Installing collected packages: pypiwin32, comtypes, pyttsx3
Successfully installed comtypes-1.4.7 pypiwin32-223 pyttsx3-2.98
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pyttsx3
engine = pyttsx3.init()
engine.say("joel keep it up")
engine.runAndWait()

3. Write a python program to print the contents of a directory using the os module.
Search online for the function which does that
4. Label the program written in problem 4 with comments. ( # comment label is used )

In [ ]:
import os

def list_directory_contents(directory):
    try:
        # Get a list of files and directories in the specified path
        contents = os.listdir(directory)
        print(f"Contents of the directory '{directory}':\n")

        # Print each item in the directory with type indication
        for item in contents:
            item_path = os.path.join(directory, item)
            if os.path.isdir(item_path):
                print(f"[DIR] {item}")
            else:
                print(f"[FILE] {item}")
    except FileNotFoundError:
        print(f"The directory '{directory}' does not exist.")
    except PermissionError:
        print(f"Permission denied for accessing the directory '{directory}'.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Ask the user for a directory path
directory_path = input("Enter the directory path: ")
list_directory_contents(directory_path)

Enter the directory path:  /

Contents of the directory '/':

[DIR] $Recycle.Bin
[DIR] $WINDOWS.~BT
[DIR] $Windows.~WS
[FILE] .GamingRoot
[DIR] ADE
[DIR] Config.Msi
[DIR] Documents and Settings
[DIR] Drivers
[FILE] DumpStack.log.tmp
[DIR] ESD
[FILE] hiberfil.sys
[DIR] Intel
[DIR] Log
[DIR] LP1
[DIR] MinGW
[DIR] OneDriveTemp
[FILE] pagefile.sys
[DIR] PerfLogs
[DIR] Program Files
[DIR] Program Files (x86)
[DIR] ProgramData
[DIR] python 3.11
[DIR] Recovery
[FILE] swapfile.sys
[DIR] System Volume Information
[DIR] Users
[DIR] Windows
[DIR] XboxGames

# CHAPTER-2 (VARIABLES AND DATATYPE)

## Variables
- variable is a container that contains data. it is for data to give a memory location

In [ ]:
a= 30 # variables = container to store a value.
b= "jaso" # keywords = reserved words in python (string)
c= 71.22 # identifiers = class/function/variable name

print (a * c)
print (b + str(c)) #b is string & c is a float, so we cannot directly concatenate them. we need to conver c to a string using str(c).
#concatenate means process of commbining two or more strings into siingle string.

2136.6
jaso71.22

In [ ]:
#example of variable problem
a=1
b=5
print(a + b)

6

In [ ]:
#Rules of naming a variable
a=23
harry78=7 #var name contains only alhabets,digit & underscores.
_harry=78 #var only can starts froms with  alphabets & underscores
# @harry=45  #var cannot starts from special character & numbers.
# h@rry=54   #var cannot contoins special character
# har ry=75 #var connot contain white space

## Datatype

primarily datatypes are:

1. Integer
2. Floating point number
3. Strings
4. Booleans
5. None

In [ ]:
a=1 # a is an interger
b=5.22 # b is a floating point number
c="MBA is different" # c is a sring
d=False # d is a boolean variable
e=None # e is a none type variable

## Operators in python
1. Arithmetic operators: +, -, *, /, **, %%
32. Assignment operators: =, +=, -= .4
3. Comparison operators: ==, >, >=,, <, c5
4. Logical operators: and, or, not.

In [ ]:
#Arithematic Operator
a=7
b=4
c=a+b
print(c)

maths=74
full=100
percentage=maths/full*100
print(percentage)

11
74.0

In [ ]:
#Assignment Operator
a = 4-2 #assign 4-2 in a
print(a)

b=6
#b += 3 # Increment the value of b by 3 and then asssign it to b
b -= 3 # Decrement the value of b by 3 and then asssign it to b
print(b)

2
3

In [ ]:
#Comparison Operator
d= 5<4 # 5 is greater than 4
print(d)

e= 5!=7 # 5 is not equal to 7
print(e)

f= 4==8 # 4 is equal to 8, == is comparation operator for where it is equal, = is assignment operator for assigning the value
print(f)

False
True
False

In [ ]:
#Logicial Operator
e= True or False
print(e)
# Truth table of 'or'
print("True or False is ", True or False)
print("True or True is ", True or True)
print("False or True is ", False or True)
print("False or False is ", False or False)

# Truth table of 'and'
print("True and False is ", True and False)
print("True and True is ", True and True)
print("False and True is ", False and True)
print("False and False is ", False and False)

print(not(True))

True
True or False is  True
True or True is  True
False or True is  True
False or False is  False
True and False is  False
True and True is  True
False and True is  False
False and False is  False
False

## type() Function and  Typecasting
- type() function : used to find the data type of a given variable in python
- typecasting : functions to convert one data type into another

In [ ]:
#type() Function
a=314
t=type(a)
print(t)

b=31.4
type(b)

# c="good"
# t=type(c)
# print(t)

<class 'int'>

float

In [ ]:
#typecasting
a= "3.1124"
b= float(a) #a is string but changed to float
t= type(a)
print(t)

float(32)

<class 'str'>

32.0

## input() Function
- allows the user to take input from the keyboard as a string.

In [ ]:
#input function take the value as string. even entering the number, it accept as as string. so when two string adds the it concatenate.
a = input("Enter number 1: ")
b = input("Enter number 2: ")

print("Number a is: ", a)
print("Number b is: ", b)
print("Sum is: ", a + b)

Enter number 1:  1
Enter number 2:  22

Number a is:  1
Number b is:  22
Sum is:  122

In [ ]:
#int before input() converted the string to int. so that it doesn't concatenate.
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))

print("Number a is: ", a)
print("Number b is: ", b)
print("Sum is: ", a + b)

Enter number 1:  1
Enter number 2:  5

Number a is:  1
Number b is:  5
Sum is:  6

## Chapter-2 Practice

1. Write a python program to add two numbers.

In [ ]:
a=1
b=5
print(a+b)

6

2. Write a python program to find remainder when a number is divided by z.

In [ ]:
a=34
b=5
print("Remainder when a is divided by b is", a%b)

Remainder when a is divided by b is 4

3. Check the type of variable assigned using input () function.

In [ ]:
a = input("Enter the value of a: ")
print(type(a))

Enter the value of a:  79.....8

<class 'str'>

4. Use comparison operator to find out whether ‘a’ given variable a is greater than ‘b’ or not. Take a = 34 and b = 80

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
print("a is greater than b is ", a>b)

Enter the value of a:  35
Enter the value of b:  29

a is greater than b is  True

5. Write a python program to find an average of two numbers entered by the user.

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
print("The average of these two number is", (a+b)/2)

Enter the value of a:  89
Enter the value of b:  56

The average of these two number is 72.5

6. Write a python program to calculate the square of a number entered by the user

In [ ]:
a = int(input("Enter your number: "))

print("The square of the number is", a**2)

Enter your number:  5

The square of the number is 25

# CHAPTER-3 (STRINGS)

- String is a data type in python.
- String is a sequence of characters enclosed in quotes.
- ex- name = "Jaso"

In [ ]:
a ='jaso' # Single quoted string
b = "jaso" # Double quoted string
c = '''jaso''' # Triple quoted string

## String Slicing

- A string in python can be sliced for getting a part of the strings.
- The index in a sting starts from 0 to (length -1) in Python.

In [ ]:
name="Jasobant"
nameshort=name[0:4] #start from index o all the way till 4 (excluding 4)
print(nameshort)
print(name[-4:-1])

Jaso
ban

## Slicing with Skip Value

In [ ]:
word = "0123456789"
word[1: 6: 2]
#word[0:]
#word[:9]

'135'

## String Functions

In [ ]:
name="jasobant"

1. len () function – This function returns the length of the strings

In [ ]:
print(len(name))

8

2. name.endswith("bant") – This function_ tells whether the variable string ends with
the string "bant" or not. If string is "", it returns true for "bant" since jasobant ends
with bant. also startswith("jaso")

In [ ]:
print(name.endswith("bant"))

True

In [ ]:
print(name.startswith("jaso"))

True

3. string.count("c") – counts the total number of occurrences of any character.

In [ ]:
count=name.count("a")
print(count)

2

4. string.capitalize()- this function capitalize the first character of a given string.

In [ ]:
print(name.capitalize()) #this funcn captalize the first letter of the string

Jasobant

5. string.find(word) – This function finds a word and returns the index of first occurrence of that word in the string.

In [ ]:
s="hello world"
index=s.find("world")
print(index)

6

6. string.replace (old word, new word ) – This function replace the old word with
new word in the entire string.

In [ ]:
s="hello world"
replaced_string=s.replace("world","python")
print(replaced_string)

hello python

## Escape Sequence Character

- Sequence of characters after backslash "\" → Escape Sequence characters
- \n - new lines
- \t - tab
- \" - single quote
- \\ - blackslash

In [ ]:
a="Jaso is a good boy \n but no a bad \t boy"
print(a)

Jaso is a good boy
 but no a bad 	 boy

## Chapter-3 Practice

1. Write a python program to display a user entered name followed by Good
Afternoon using input () function.

In [ ]:
name=input("Enter your name: ")
print(f"Good Morning, {name}")

Enter your name:  anu

Good Morning, anu

2. Write a program to fill in a letter template given below with name and date.
letter = '''Dear <|Name|>,
You are selected!
<|Date|>'''

In [ ]:
letter = '''Dear <|Name|>,
You are selected!
<|Date|>'''

print(letter.replace("<|Name|>", "Jasobant").replace("<|Date|>", "10 October 2024"))

Dear Jasobant,
You are selected!
10 October 2024

3. Write a program to detect triple space in a string.

In [ ]:
name="jaso is a good   boy" # btn good bot therre is 3 space
print(name.find("   "))

14

4. Replace the triple space from problem 3 with single spaces.

In [ ]:
name="jaso is a good   boy" # btn good bot therre is 3 space
print(name.replace("   "," "))
print(name) # Strings are immutable which means that you cannot change them by runnung functions on them.

jaso is a good boy
jaso is a good   boy

5. Write a program to format the following letter using escape sequence
characters.
letter = "Dear Harry, this python course is nice. Thanks!"

In [ ]:
letter = "Dear Jaso,\n \t This python course is nice.\n Thanks!"
print(letter)

Dear Jaso,
 	 This python course is nice.
 Thanks!

# CHAPTER-4 (LISTS AND TUPLES)

- Python lists are containers to store a set of values of any data type.
- A list is an mutable data type in python.

In [ ]:
friends = ["Apple", "Orange", 7, 785.46, "Akash"]
print(friends[0])

friends[0] = "Grapes" #list is muttable in nature thus apple changed to grapes.
print(friends[0])
print(friends)

Apple
Grapes
['Grapes', 'Orange', 7, 785.46, 'Akash']

## List Indexing

- A list can be indexed just like a string

In [ ]:
friends = ["Apple", "Orange", 7, 785.46, "Akash"] #index o to 4 & mutable
print(friends[4])
print(friends[1:3])

Akash
['Orange', 7]

## List Methods

In [ ]:
l1 = [1,8,45,851, 7,2,21,15]

1. l1.sort(): updates the list to [1, 2, 7, 8, 15, 21, 45, 851].
2. l1.reverse(): updates the list to
[851, 45, 21, 15, 8, 7, 2, 1
.
3. l1.appen78.4(8): add7s.4 8 at the end of the list.
4. l1.inser5(69.96,8): This will ad69.96 8 a5 3 index.
5. l1.po3(2): Will delete element at inde3 2 and return its value.
6. l1.remov78.421): Will remov78.421 from the list.ist.  list

In [ ]:
l1.sort() #sort in arranged format
print(l1)

[1, 2, 7, 8, 15, 21, 45, 851]

In [ ]:
l1.reverse() #reserve to updated exxisting list
print(l1)

[851, 45, 21, 15, 8, 7, 2, 1]

In [ ]:
l1.append(78.4) #Add 78.4 in the end list
print(l1)

[851, 45, 21, 15, 8, 7, 2, 1, 78.4, 78.4]

In [ ]:
l1.insert(5, 69.96) # insert 69.96 into its index in the list is 5.
print(l1)

[851, 45, 21, 15, 8, 69.96, 7, 2, 1, 78.4, 78.4]

In [ ]:
l1.pop(3) #delete the index 3  value 15.
print(l1)
print(l1.pop(3))

[851, 45, 21, 8, 69.96, 7, 2, 1, 78.4, 78.4]
8

In [ ]:
l1.remove(78.4)
print(l1)

[851, 45, 21, 69.96, 7, 2, 1, 78.4]

## Tuples in Python

- A tuple is an immutable data type in python.

In [ ]:
a = () # empty tuple
a = (1) #it is int
a = (1,) # tuple with only one element needs a comma
a = (1,7,2) # tuple with more than one element

## Tuple Methods

In [ ]:
a= (1, 45, 345, 45, False, "rohan", "shivam")

1. a.count (45): a count (45) will return number of times 2 occurs in a.
2. a.index (345) will return the index of first occurrence of 2 in a.

In [ ]:
no= a.count(45)
print(no)

2

In [ ]:
i = a.index(345)
print(i)

2

## Chapter-4 Practice

1. Write a program to store seven fruits in a list entered by the user.

In [ ]:
fruits = []

f1=input("Enter Fruit name: ")
fruits.append(f1)
f2=input("Enter Fruit name: ")
fruits.append(f2)
f3=input("Enter Fruit name: ")
fruits.append(f3)
f4=input("Enter Fruit name: ")
fruits.append(f4)
f5=input("Enter Fruit name: ")
fruits.append(f5)

print(fruits)

Enter Fruit name:  banana
Enter Fruit name:  apple
Enter Fruit name:  grapes
Enter Fruit name:  orange
Enter Fruit name:  pineapple

['banana', 'apple', 'grapes', 'orange', 'pineapple']

2. Write a program to accept marks of 6 students and display them in a sorted
manner.

In [ ]:
marks = []

f1=int(input("Enter marks here: "))
marks.append(f1)
f2=int(input("Enter marks here: "))
marks.append(f2)
f3=int(input("Enter marks here: "))
marks.append(f3)
f4=int(input("Enter marks here: "))
marks.append(f4)
f5=int(input("Enter marks here: "))
marks.append(f5)
f6=int(input("Enter marks here: "))
marks.append(f6)

marks.sort()
print(marks)

Enter marks here:  78
Enter marks here:  45
Enter marks here:  52
Enter marks here:  63
Enter marks here:  95
Enter marks here:  56

[45, 52, 56, 63, 78, 95]

3. Check that a tuple type cannot be changed in python

In [ ]:
a=(47,788,"rosy")
a[2]="lorry"

TypeError: 'tuple' object does not support item assignment

4. Write a program to sum a list with 4 numbers.

In [ ]:
l1=[3, 5 , 7 ,6]
print(sum(l1))

21

5. Write a program to count the number of zeros in the following tuple:
a = (7, 0, 8, 0, 0, 9)

In [ ]:
a = (7, 0, 8, 0, 0, 9)

n = a.count(0)
print(n)

3

# CHAPTER-5 (DICTIONARY & SETS)

- Dictionary is a collection of keys-value pairs.

In [ ]:
marks = {
    "key": "value",
    "Jaso" : 8.13,
    "anu" : 9.2,
    "harry": "code",
    "mark": "100",
    "list": [1, 2, 9]
}

marks = {} #this is empty dictionary

In [ ]:
print(marks, type(marks))

{'key': 'value', 'Jaso': 8.13, 'anu': 9.2, 'harry': 'code', 'mark': '100', 'list': [1, 2, 9]} <class 'dict'>

In [ ]:
print (marks["Jaso"])

8.13

In [ ]:
marks["list"]

[1, 2, 9]

## Properties of Python Dictionaries

1. It is unordered.
2. It is mutable.
3. It is indexed.
4. Cannot contain duplicate keys.

## Dictionary Methods

In [ ]:
marks = {
    "Harry" : 100,
    "Shubham" : 75,
    "Raaj" : 50,
    0 : "harry"
}

* a.items(): Returns a list of (key,value)tuples
* a.keys(): Returns a list containing dictionary's key.
* a.update({"friends":}): Updates the dictionary with supplied key-value pair
*  a.get("name"): Returns the value of the specified keys (and value is retu ed*
eg."harry" is returned hre).

In [ ]:
print (marks.items())

dict_items([('Harry', 100), ('Shubham', 75), ('Raaj', 50), (0, 'harry')])

In [ ]:
print (marks.keys())

dict_keys(['Harry', 'Shubham', 'Raaj', 0])

In [ ]:
print (marks.values())

dict_values([100, 75, 50, 'harry'])

In [ ]:
marks.update({"Harry":99, "Renuka":96 })
print (marks)

{'Harry': 99, 'Shubham': 75, 'Raaj': 50, 0: 'harry', 'Renuka': 96}

In [ ]:
print(marks.get("Harry2")) #prints None
print(marks["Harry2"]) #Returns an error

None

KeyError: 'Harry2'

## Sets in Python

- Set is a collection of non-repetitive elements.

In [ ]:
s = {1,5,12,54,5,5, "Harry"} #no repeatation is allowed

e = set() #this is empty set. don't use s = {} as it will create an empty dictionary

In [ ]:
print(s, type(s))

{1, 5, 54, 12, 'Harry'} <class 'set'>

In [ ]:
s.add(566)
print(s, type(s))

{1, 5, 54, 566, 12, 'Harry'} <class 'set'>

## Properties of Sets

1. Sets are unordered => Element’s order doesn’t matter
2. Sets are unindexed => Cannot access elements by index
3. There is no way to change items in sets.
4. Sets cannot contain duplicate values.

## Operations on Sets

In [ ]:
s = {1,2,3}

- len(s): Returns 4, the length of the set
- s.remove(8): Updates the set s and removes 8 from s.
- s.pop(): Removes an arbitrary element from the set and return the element
removed
- s.clear():empties the set s.
- s.union({8,11}): Returns a new set with all items from both sets. {1,8,2,3,11}.
- s.intersection({8,11}): Return a set which contains only item in both sets {8}..

In [ ]:
len(s)

4

In [ ]:
s.remove(1)

In [ ]:
print(s, type(s))

{2, 3} <class 'set'>

In [ ]:
#Union & Intersection

s1 = {1,45,6,78}
s2 = {7,8,1,78}

In [ ]:
print(s1.union(s2))

{1, 6, 7, 8, 45, 78}

In [ ]:
print(s1.intersection(s2))

{1, 78}

## Chapter-5 Practice

1. Write a program to create a dictionary of Hindi words with values as their English
translation. Provide user with an option to look it up

In [ ]:
words = {
    "madad":"Help",
    "khursi":"Chair",
    "billi":"Cat"
}

word = input("enter the word you want meaning of: ")

print(words[word])

enter the word you want meaning of:  madad

Help

2. Write a program to input eight numbers from the user and display all the unique
numbers (once)

In [ ]:
s = set()
n = input("Enter the number: ")
s.add(int(n))
n = input("Enter the number: ")
s.add(int(n))
n = input("Enter the number: ")
s.add(int(n))
n = input("Enter the number: ")
s.add(int(n))
n = input("Enter the number: ")
s.add(int(n))
n = input("Enter the number: ")
s.add(int(n))
n = input("Enter the number: ")
s.add(int(n))
n = input("Enter the number: ")
s.add(int(n))

print(s)

Enter the number:  1
Enter the number:  1
Enter the number:  1
Enter the number:  2
Enter the number:  2
Enter the number:  1
Enter the number:  2
Enter the number:  2

{1, 2}

3. Can we have a set with 18 (int) and '18' (str) as a value in it?

In [ ]:
s = set()
s.add(18)
s.add("18")

print(s)

{18, '18'}

4. What will be the length of following set s:

In [ ]:
s = set()
s.add(20)
s.add(20.0)
s.add('20') # length of s after these operations?

print(s)
len(s)

{'20', 20}

2

5. s = { }
What is the type of 's'?

In [ ]:
s = { }
print(type(s))

<class 'dict'>

6. Create an empty dictionary. Allow 4 friends to enter their favorite language as
value and use key as their names. Assume that the names are unique.

In [ ]:
language = {}

name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})

print(language)

Enter friends name:  jaso
Enter language name:  python
Enter friends name:  harish
Enter language name:  R
Enter friends name:  keshav
Enter language name:  SQl
Enter friends name:  chandresh
Enter language name:  java

{'jaso': 'python', 'harish': 'R', 'keshav': 'SQl', 'chandresh': 'java'}

7. If the names of 2 friends are same; what will happen to the program in problem
6?

In [ ]:
language = {}

name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")

language.update({name: lang})

print(language)
#it just  update the value of key pair.

Enter friends name:  shubham
Enter language name:  python
Enter friends name:  jaso
Enter language name:  python
Enter friends name:  rohan
Enter language name:  c##
Enter friends name:  rohan
Enter language name:  JS

{'shubham': 'python', 'jaso': 'python', 'rohan': 'JS'}

8. If languages of two friends are same; what will happen to the program in problem
6?

yes the values cn be same. as keys are different & uniques. if keys are same then it will update the key  value

9. Can you change the values inside a list which is contained in set S?

In [ ]:
s = {8, 7, 12, "Harry", [1,2]}

# result in a TypeError because a set in Python can only contain hashable and immutable elements. Lists, being mutable, are not hashable and therefore cannot be elements of a set.

TypeError: unhashable type: 'list'

# CHAPTER-6 (CONDITIONAL EXPRESSION)

## if else & elif in python

If else and elif statements are a multiway decision taken by our program due to certain
conditions in our code.

In [ ]:
a = int(input("Enter your age: "))

#If else statement
if(a>=18):
    print("you are above the age of consent")
    print("Good for you")

else:
    print("You are below the age of consent")

print("end of the program")

Enter your age:  78

you are above the age of consent
Good for you
end of the program

In [ ]:
a = int(input("Enter your age: "))

#If elif else ladder
if(a>=18):
    print("you are above the age of consent")
    print("Good for you")

elif(a<0):
    print("You are entering an invalid negative age")

elif(a==0):
    print("You are entering 0 which is not a valid age")

else:
    print("You are below the age of consent")

print("end of the program")

Enter your age:  -12

You are entering an invalid negative age
end of the program

## Relational/Comparison Operators

Relational Operators are used to evaluate conditions inside the if statements. Some
examples of relational operators are:
```
== : equals.
> =: greater than/ equal to.
< =: lesser than/ equal to.
```

## Logical Operators

In python logical operators operate on conditional statements. For Example:
* and – true if both operands are true else false.
* or – true if at least one operand is true or else false.
* not – inverts true to false & false to true.

## Multiple If Statement

In [ ]:
a = int(input("Enter your age: "))

# If Statement no:1
if(a%2 == 0):
    print("a is even")

else:
    print("a is odd")
# End of If Statement no:1

# If Statement no:2
if(a>=18):
    print("you are above the age of consent")
    print("Good for you")

elif(a<0):
    print("You are entering an invalid negative age")

else:
    print("You are below the age of consent")
# End of If Statement no:2

print("end of the program")

Enter your age:  14

a is even
You are below the age of consent
end of the program

## Chapter-6 Practice

1. Write a program to find the greatest of four numbers entered by the user.

In [ ]:
a1 = int(input("Enter number 1: "))
a2 = int(input("Enter number 2: "))
a3 = int(input("Enter number 3: "))
a4 = int(input("Enter number 4: "))

if(a1>a2 and a1>a3 and a1>a4):
    print("Greatest number is a1:", a1)

elif(a2>a1 and a2>a3 and a2>a4):
    print("Greatest number is a2:", a2)

elif(a3>a1 and a3>a2 and a3>a4):
    print("Greatest number is a3:", a3)

elif(a4>a1 and a4>a2 and a4>a3):
    print("Greatest number is a4:", a4)

Enter number 1:  12
Enter number 2:  13
Enter number 3:  14
Enter number 4:  15

Greatest number is a4: 15

2. Write a program to find out whether a student has passed or failed if it requires a
total of 40% and at least 33% in each subject to pass. Assume 3 subjects and
take marks as an input from the user.

In [ ]:
#Own code
s1 = int(input("enter your secured sub1 mark: "))
s2 = int(input("enter your secured sub2 mark: "))
s3 = int(input("enter your secured sub3 mark: "))

if(s1+s2+s3>40/100*300 and s1>=33/100*100 and s2>=33/100*100 and s3>=33/100*100):
    print("you'r passed successfully")

else:
    print("you're failed")

enter your secured sub1 mark:  57
enter your secured sub2 mark:  58
enter your secured sub3 mark:  59

you'r passed successfully

In [ ]:
marks1 = int(input("Enter Marks 1: "))
marks2 = int(input("Enter Marks 2: "))
marks3 = int(input("Enter Marks 3: "))

#check for total percentage
total_percentage = (100*(marks1 + marks2 + marks3))/300

if(total_percentage>=40 and marks1>=33 and marks2>=33 and mark3>=33):
    print("you are pass:", total_percentage)

else:
    print("you are failed:", total_percentage)

Enter Marks 1:  21
Enter Marks 2:  33
Enter Marks 3:  77

you are failed: 43.666666666666664

3. A spam comment is defined as a text containing following keywords:
“Make a lot of money”, “buy now”, “subscribe this”, “click this”. Write a program
to detect these spams.

> `in` keyword in Python is used to check if a value is present in a sequence (list, range, string, etc.). It returns True if the value is found, and False otherwise

In [ ]:
#spam filter
p1 = "Make a lot of money"
p2 = "buy now"
p3 = "subscribe this"
p4 = "click this"

message = input("Enter your contact: ")

if((p1 in message) or (p2 in message) or (p3 in message) or (p4 in message)):
    print("This comment is a spam")

else:
    print("This comment is not a spam")

Enter your contact:  jaso bhai subscribe this

This comment is a spam

4. Write a program to find whether a given username contains less than 10
characters or not.

In [ ]:
username = input("Enter Username")

if(len(username)<10):
    print("your username contains less than 10 characters")
else:
    print("all is well")

Enter Username Jasobant

your username contains less than 10 characters

5. Write a program which finds out whether a given name is present in a list or not.

In [ ]:
l =  ["harry", "jaso","raju", "debu"]

name = input("Enter your name: ")

if(name in l):
    print("your name is in the list")
else:
    print("Your name is not in the list")

Enter your name:  raj

Your name is not in the list

6. Write a program to calculate the grade of a student from his marks from the
following scheme:
```
90 – 100 => Ex
80 – 90 => A
70 – 80 => B
60 – 70 =>C
50 – 60 => D
<50 => F
```

In [ ]:
marks = int(input("Enter your marks: "))

if(marks<=100 and  marks>=90):
    grade = "Ex"
elif(marks<90 and  marks>=80):
    grade = "A"
elif(marks<80 and  marks>=70):
    grade = "B"
elif(marks<70 and  marks>=60):
    grade = "C"
elif(marks<60 and  marks>=50):
    grade = "D"
elif(marks<50):
    grade = "F"

print("your grade is:", grade)

Enter your marks:  90

your grade is: Ex

7. Write a program to find out whether a given post is talking about “Harry” or not.

`.lower()` is a built-in string method in Python that converts all uppercase characters in a string to lowercase. It returns a new string with the converted characters, leaving the original string unchanged.

In [ ]:
post = input("Enter the post: ")

if("Harry".lower() in post.lower()):
    print("This post is talking about the harry")

else:
    print("This post is not talking about harry")

Enter the post:  HARRY

This post is talking about the harry

# CHAPTER-7 (LOOPS IN PYTHON)

a loop is a control structure that allows you to execute a block of code repeatedly for a specified number of iterations or until a certain condition is met.

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

## Types of Loops in Python

- While Loops
- For Loops

## While Loops

In [ ]:
i = 1

while(i<6):
    print(i)
    i +=1

1
2
3
4
5

In [ ]:
i = 1

while(i<6):
    print("Jaso")
    i +=1 # i = i+1

Jaso
Jaso
Jaso
Jaso
Jaso

In [ ]:
li = [1,"Jaso","Harry", 4, True, False]

i = 0

while(i < len(li)):
    print(li[i])
    i +=1

1
Jaso
Harry
4
True
False

## For Loops

In [ ]:
for i in range(4):
    print(i)

0
1
2
3

The range() function in python is used to generate a sequence of number.
- range(start, stop, step_size)
-  step_size is usually not used with rang()

In [ ]:
# For Loop with Lists
l  =  [1,4,6,234,6,764]

for i in l:
    print(i)

1
4
6
234
6
764

In [ ]:
# For Loop with Tuples
t = (6,231,75,6,122)

for i in t:
    print(i)

6
231
75
6
122

In [ ]:
# For Loop with strings
s = "jasobant"

for i in s:
    print(i)

j
a
s
o
b
a
n
t

## For Loop With Else

An optional else can be used with a for loop if the code is to be executed when the
loops exhausts.

In [ ]:
l= [1,7,8]

for item in l:
    print(item)

else:
    print("done") # this is printed when the loop exhausts!

1
7
8
done

## Break Statement

‘break’ is used to come out of the loop when encountered. It instructs the program to –
exit the loop now.

In [ ]:
for i in range(100):
    if(i == 10):
        break # Exit the loop right now
    print(i)

0
1
2
3
4
5
6
7
8
9

## Continue Statement

‘continue’ is used to stop the current iteration of the loop and continue with the next
one. It instructs the Program to “skip this iteration”.

In [ ]:
for i in range(10):
    if(i == 5):
        continue # Skip this iteration
    print(i)

0
1
2
3
4
6
7
8
9

## Pass Statement

pass is a null statement in python.
It instructs to “do nothing”.

In [ ]:
for i in range(645):
    pass # Without pass, the program will throw an error

i = 0
while(i<10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

## Chapter-7 Practice

1. Write a program to print multiplication table of a given number using for loop.

In [ ]:
n = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{n} X {i} = {n * i}")

# F-strings allow you to embed expressions inside string literals, using curly braces {}. This makes string formatting simpler and more intuitive.

Enter a number:  25

25 X 1 = 25
25 X 2 = 50
25 X 3 = 75
25 X 4 = 100
25 X 5 = 125
25 X 6 = 150
25 X 7 = 175
25 X 8 = 200
25 X 9 = 225
25 X 10 = 250

2. Write a program to greet all the person names stored in a list ‘l’ and which starts
with S.

l = ["Harry", "Soham", "Sachin", "Rahul"]

In [ ]:
l = ["Harry", "Soham", "Sachin", "Rahul"]

for name in l:
    if(name.startswith("S")):
        print(f"Hello {name}")

Hello Soham
Hello Sachin

3. Attempt problem 1 using while loop.

In [ ]:
n = int(input("Enter a number: "))

i = 1

while(i<11):
    print(f"{n} X {i} = {n * i}")
    i += 1

Enter a number:  50

50 X 1 = 50
50 X 2 = 100
50 X 3 = 150
50 X 4 = 200
50 X 5 = 250
50 X 6 = 300
50 X 7 = 350
50 X 8 = 400
50 X 9 = 450
50 X 10 = 500

4. Write a program to find whether a given number is prime or not.

In [ ]:
n = int(input("Enter a number: "))

for i in range(2, n):
    if(n%i) == 0:
        print("Number is not prime")
        break

else:
    print("Number is prime")

Enter a number:  3

Number is prime

5. Write a program to find the sum of first n natural numbers using while loop.

In [ ]:
n = int(input("Enter a number: "))

i = 1
sum = 0
while(i<=n):
    sum += i
    i += 1

print(sum)

Enter a number:  2

3

6. Write a program to calculate the factorial of a given number using for loop

In [ ]:
n = int(input("Enter a number: "))

product = 1
for i in range(1, n+1):
    product = product * i

print(f"The factorial of {n} is {product}")

Enter a number:  5

The factorial of 5 is 120

7. Write a program to print the following star pattern. or n=3 3

In [ ]:
'''
For n = 3
  *
 ***
*****

For n = 5
    *
   ***
  *****
 *******
*********
'''

n = int(input("Enter a number: "))

for i in range(1, n+1):
    print(" "* (n-i), end="")
    print("*"* (2*i-1), end="")
    print("\n")

Enter a number:  5

    *

   ***

  *****

 *******

*********

8. Write a program to print the following star pattern: for n = 3

In [ ]:
'''
For n = 3
*
**
***
'''

n = int(input("Enter a number: "))

for i in range(1, n+1):
    print("*"* i, end="")
    print("\n")

Enter a number:  5

*

**

***

****

*****

9. Write a program to print the following star pattern.
for n = 3

In [ ]:
'''
For n = 4
****
*  *
*  *
****
'''

n = int(input("Enter a number: "))

for i in range(1, n+1):
    if(i==1 or i==n):
        print("*"*n, end="")
    else:
        print("*", end="")
        print(" "* (n-2), end="")
        print("*", end="")
    print("")

Enter a number:  5

*****
*   *
*   *
*   *
*****

10. Write a program to print multiplication table of n using for loops in reversed
order.

In [ ]:
n = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{n} X {11-i} = {n*(11-i)}")

Enter a number:  10

10 X 10 = 100
10 X 9 = 90
10 X 8 = 80
10 X 7 = 70
10 X 6 = 60
10 X 5 = 50
10 X 4 = 40
10 X 3 = 30
10 X 2 = 20
10 X 1 = 10

# CHAPTER-8 (FUNCTIONS & RECURSIONS)

function!!